<div class="row">
	<div class="col-sm-4">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1"><i class="material-icons">search</i></span>
			</div>
			<input type="text" class="form-control" placeholder="Buscar Cliente" aria-label="Username" aria-describedby="basic-addon1" (change)="buscarCliente()" [(ngModel)]="textoBusca">
		</div>
	</div>
	<div class="col-sm-2">
		<button class="btn btn-success" data-toggle="modal" data-target="#modalCadastro">
			Cadastrar Cliente
		</button>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-12">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">CPF</th>
					<th scope="col">Email</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let cliente of clientes">
					<th scope="col">{{cliente.nome}}</th>
					<th scope="col">{{cliente.cpf}}</th>
					<th scope="col">{{cliente.email}}</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<cadastrar-clientes></cadastrar-clientes>